* {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  font-family: "Avenir Next" !important;
}

body {
  background-color: #6A38EC;
}

.fullpage {
  height: 100vh;
}

.mainbutton { 
  width: 100%;
  padding: 14px 0 ;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-color: white;
}

.secondbutton { 
  width: 100%;
  padding: 14px 0 ;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-color: #6A38EC;
  color: white;
}

.secondbutton { 
  width: 100%;
  padding: 14px 0 ;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #6A38EC;
  color: white;
}

a {
  color:inherit;
  text-decoration: none;
}

p {
  font-size: 16px;
  color: white;
}

.info {
  background-color: #7843FF;

}
.info p{
  padding: 4px 0;  text-align: center;
}


.box b {
  font-size: 20px;
}
.rekeningen{
  display: flex;
  justify-content: space-evenly;
}

.info-half {
  background-color: #7843FF;
  width: 45%;
  height: 90px;
}

header {
  font-size: 24px;
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 0 0 20px;
}

.container {
  padding-top: 50px !important;
  font-size: 18px;
  position: absolute;
  width: 100%;
  margin: auto;
  padding: 0 20px 40px;
}

.bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

.number-big {
  padding: 100px;
  text-align: center;
  color: white;
}

.number-big h1 {
  font-size: 50px;
  font-weight: 700;
}

.font-white h3 {
  color: white;
}

h1 h2 h3 h4 {
  font-family: "Avenir Next" !important;
  font-weight: 500;
  background: none;
}

h3 {
  font-weight: 700;
  background: none;
  font-size: 16px;
  color: black;
  padding-bottom: 8px;
}

.input {
  border: none;
  background-color: #F0F0F0;
  color: #434343;
  font-size: 16px;
  font-weight: 500;
}

.option {
  background-color: #F0F0F0;
  padding: 14px;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 8px 0 0 ;
  border: none;
}

.selected {
  background-color: #6A38EC;
  color: white;
}


.focus:focus {
  color: red;
}